GROQ_API_KEY=your_groq_api_key
SIMULATION_DATA_FOLDER=data/AMS_NIST/part01
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000

SIMULATOR_SEED=42
# nist_ams_100_69 or nist_ams_100_69_corrupt or mock
SIMULATOR = nist_ams_100_69_corrupt
